python>=3.5.2
cryptography>=1.4.1

File must be run in a command prompt window

How to run:

If Python has been added to the system path, then just run "python PYssword-Safe.py" or in some cases even just "PYssword-Safe.py"
If Python hasn't yet been added to the system path, reinstall it and check the box for "add to system path" (or similar)

In order to install cryptography, first add python to the system path, then (in command prompt) type "pip install cryptography"

